* {
    box-sizing: border-box;
    
}

body {
    
    background-color: black;
    margin: 0px;
    width: 100%;
}

.cabecalho{
    background-color: black; 
    margin-top: 0px;
    margin-left: 120px;
    border: white;
    border-width: 1px;
    border-left: 0;
    border-right: 0ch;
    border-style: solid;
    padding-bottom: 20px;
    padding-top: 40px;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    
    
}
.content-box{

    color: white;
    position: relative;
    margin-top: 50px;
    text-shadow: 0.1em 0.1em 0.2em white;  

}
.content-box-text{

    font-size: 50px  ;
    padding:0;
    justify-content: space-around;
    text-align: center; 
    
}    
    
.menu a{
    padding: 10px;
    color: white;
    
}
.menu a:hover{
    color: grey;
}
.menu {
    display: flex; /* layout usando flex */
    justify-content: space-around; /* centraliza horizontalmente e adiciona 
    espaços entre os elementos*/
    align-items: center; /* alinhamento vertical */
    flex-direction: column; /* vertical - um elemento sobre o outro. */
    height: 60px auto;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-left: 0;
    border-right: 0;
    margin-left: 120px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    background-color:#15334F;
    
    

}

 .section1{

    background-color:#1C1C1C ;
    height: 1200px auto;
    flex-direction: column;
    width: 1600px auto;
    margin-left: 120px;

}

.filmes-content{
    height:100%;
    position: fixed ;
    width: 120;
    z-index: 0;
    left: 0%;
    right: 0%;
    top: 0;
    overflow:hidden;
    border-color: white;
    border-width: 1px;
    border-left: 0;
    border-right: 1;
    border-style: solid;
    background-color: #0C152A;
    
   
}

.categor-filmes{
    position: relative;
    text-align:left;
    padding-top: 150px ;
    padding-bottom: 200px;
    padding-left: 2px;
    margin: auto;    
}

.categor-filmes tr  {
    height: 50px ;
    
    
    
}



.categor-filmes a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    
}
.categor-filmes a:hover{
    color: gray;
    
}
.link-imagem1{

    width: 220px;
    height: 300px;
    padding: 10px;
    position: relative;
    margin-top: 50px;
    margin-left: 65px;
    margin-bottom: 50px;
    

}



.corpo {
    display:flex;
    flex-direction: column; /* as DIVs Conteudo1, Conteudo2 e Conteudo3 ficarão 
    umas sobre as outras quando dispositivo com tela estreita.*/
    flex-wrap: wrap; /* Caso o conteúdo, no caso as DIVs Conteudo1, Conteudo2 e 
    Conteudo3, não caiba em uma linha, vai automaticamente para a próxima. Para uso 
    em dispositivos de tela grande. */
}

.titulo-type{

    height: 30px;
    width: auto;
    background-color: #1C1C1C;
    border-style: solid;
    
    border-left: 0;
    border-right: 0;
    border-width: 1px;
}
.titulo-text{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 3px;
    font-size: 20px;
}
.row {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
  }

  .card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px ;
    margin: 5px auto ;
    margin: 0 auto;
    width: 240px;
    transition: all 0.3s ease-out;
    text-align: center;
    background-color: #15334f;
    border-style: solid;
    border-color: black ;

  }

.text{
    color: white
}
  .card:hover {
    transform: translateY(-8px);
    cursor: pointer;
  }
   
  .card p {
    color: #a3a5ae;
    font-size: 18px;
  }
   
  .image {
    position: relative;
    width: 220px;
    height: 300px;
    padding: 0;
    margin:0;
    
   
  }
  

.rodape{

    background-color: black;
    height: 200px;
    margin-left: 120px;
    text-align: left;
}   

.rodape p{
    text-align: right;
    margin-right: 50px;
    font-size: 30px;
    
}
.lançamento{
    height: 420px ;
    width: 100%;
    background-color: black;
    margin-left: 120px;
   
}
.videovenon{
    position: relative;
    margin-right: auto ;
    padding: 0px;
    margin-top: 0;
    z-index: 1;
    margin-left: 0px;
       
}
.imgvenon{

    position: relative;
    margin-left: 0px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0;
    width: 700px;
    

}

@media only screen and (min-width: 700px)
{
    .menu {
        flex-direction: row;   
    }
    
    }
    .section1{
        flex-direction: column;
    }
    .picture{
         width: 30%;
         height: 30%;
    }
    
@media only screen and ( max-width:800px)
{   
    .content-box{
        
        font-size: 30px;

    }
    .menu a{
        border: solid;
        border-width: 1px;
        width: 100%;
        text-align: center;
    }
    
}
@media only screen and ( max-width:800px)
{
    .card .image {
        width: 100%;
        
    }
    .lançamento{
        background-size: 500px;
    }
    
      
}
@media only screen and (min-width: 1000px)
    {
    .row{
        flex-wrap: nowrap;
      
    }
    .card .image{
        width: 100%;
    }

 }
 @media only screen and ( max-width:1000px)
{
    .imgvenon{
        width: 100%;
        flex-direction: column;
    }
    .videovenon{
        width: 100%;
        padding-right: 120px;
    }

}
